/target/
*.sw*
*.pyc

# catdata project related

*~
*.class
*.classpath
*.project
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.DS_Store
/*/target/
/*/*/target/
/*/*/*/target/
/*/*/*/*/target/
/*/*/*/*/*/target/
**/test-output/*
**/.settings/**

hs_err_pid*
.idea
**/logs/**
